/* Related products */
.block--related-products {
  float: left;
  width: 100%;
  .view-related-products {
    font-size: 1em;
    .product-item {
      .product-image img {
        width: 100%;
      }
      .commerce-variation-add-to-cart {
        background-color: $body-font-color;
        input[type=submit] {
          font-size: 14px;
          color: #fff;
          line-height: 1.14286;
          text-indent: 20px;
          padding: 1em 1.2em;
          background-color: transparent;
          background-image: url(../images/cart.png);
          background-repeat: no-repeat;
          border: 0;
          &:hover {
            color: $theme-color;
            cursor: pointer;
            background-image: url(../images/cart-hover.png);
          }
        }
      }
      .product-info {
        padding: 15px 0 5px 0;
        line-height: 1.4;

        .product-title {
          font-size: 14px;
          a {
            color: $body-font-color;
            &:hover {
              color: $theme-color;
            }
          }
        }
        .product-price {
          font-weight: bold;
          font-size: .99em;
          text-align: right;
        }
      }
      .product-category {
        a {
          color: #656565;
          font-size: 0.928571em;
        }
      }

      @media (max-width: $screen-md-min) {
        margin-bottom: 40px;
      }
    }
  }
}
