/* slideshow.scss */
body {
  .view-content {
    .flexslider {
      font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      display: block;
      position: relative;
      margin: 0 auto;
      padding: 0;
      border: 0 solid #fff;
      border-radius: 0;
      img {
        max-width: 100%;
      }
      .slides {
        overflow: hidden;
        > li {
          position: absolute;
          display: block;
          .views-field-field-slide-image {
            left: auto;
            right: 12%;
            padding: 0;
            margin: 0;
            position: absolute;
            display: block;
            min-height: 100%;
            vertical-align: middle;
            overflow: hidden;
            text-align: center;
            top: 0;
            width: 46%;
            height: 100%;
            .field-content {
              height: 100%;
              img {
                width: auto;
                max-width: 70%;
                height: 70%;
                padding: 0;
                margin: 15%;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
          .views-field-nothing {
            left: 0;
            text-align: center;
            width: 100%;
            margin-top: -116.5px;
            top: 50%;
            padding: 0;
            position: absolute;
            display: block;
            h1 {
              font-size: 1.5em;
              color: #ffffff;
              font-weight: bold;
              line-height: 1.4;
              letter-spacing: -0.056em;
              margin-top: 0;
              margin-bottom: 0.416667em;
            }
            p {
              display: block;
              font-size: 1em;
              color: #ffffff;
              font-weight: 300;
              line-height: 1.6;
              margin-bottom: 1.55em;
            }
            a {
              display: inline-block;
              font-weight: bold;
              line-height: 1em;
              color: $body-font-color;
              text-decoration: none;
              padding: 0.8em 1.8em;
              border-radius: 3px;
              background: none repeat scroll 0 0 #ffffff;
              transition: all 0.2s linear 0s;
              &:hover {
                color: #ffffff;
                background: none repeat scroll 0 0 $body-font-color;
              }
            }
          }
          .views-field-field-slide-image ~ .views-field-nothing {
            left: 12%;
            text-align: right;
            width: 25%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width : $medium) {
  body {
    .view-content {
      .flexslider {
        font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0;
        border: 0 solid #fff;
        border-radius: 0;
        img {
          max-width: 100%;
        }
        .flex-direction-nav {
          a {
            opacity: 100;
            &:hover {
              color: #ffffff;
              background: none repeat scroll 0 0 $body-font-color;
            }
            &:before {
              font-size: 1em;
            }
          }
          .flex-prev {
            background: none repeat scroll 0 0 white;
            color: $body-font-color;
            text-decoration: none;
            font-size: 1.4em;
            font-weight: 300;
            line-height: 50px;
            text-align: center;
            width: 50px;
            height: 50px;
            position: absolute;
            display: inline;
            margin-top: -25px;
            left: -25px;
            border-radius: 1000px;
          }
          .flex-next {
            background: none repeat scroll 0 0 white;
            color: $body-font-color;
            text-decoration: none;
            font-size: 1.4em;
            font-weight: 300;
            line-height: 50px;
            text-align: center;
            width: 50px;
            height: 50px;
            position: absolute;
            display: block;
            margin-top: -25px;
            right: -25px;
            border-radius: 1000px;
            cursor: pointer;
          }
        }
        .slides {
          overflow: hidden;
          > li {
            position: absolute;
            display: block;
            .views-field-field-slide-image {
              left: auto;
              right: 12%;
              padding: 0;
              margin: 0;
              position: absolute;
              display: block;
              min-height: 100%;
              line-height: 480px;
              vertical-align: middle;
              overflow: hidden;
              text-align: center;
              top: 0;
              width: 46%;
              img {
                width: auto;
                height: auto;
                max-width: 70%;
                line-height: 480px;
                padding: 0;
                margin: 0;
                display: inline-block;
                vertical-align: middle;
              }
            }
            .views-field-nothing {
              left: 0;
              text-align: center;
              width: 100%;
              margin-top: -116.5px;
              top: 50%;
              padding: 0;
              position: absolute;
              display: block;
              h1 {
                font-size: 2.25em;
                color: #ffffff;
                font-weight: bold;
                line-height: 1.4;
                letter-spacing: -0.056em;
                margin-top: 0;
                margin-bottom: 0.416667em;
              }
              p {
                display: block;
                font-size: 1em;
                color: #ffffff;
                font-weight: 300;
                line-height: 1.6;
                margin-bottom: 1.55em;
              }
              a {
                display: inline-block;
                font-weight: bold;
                line-height: 1em;
                color: $body-font-color;
                text-decoration: none;
                padding: 0.8em 1.8em;
                border-radius: 3px;
                background: none repeat scroll 0 0 #ffffff;
                transition: all 0.2s linear 0s;
                &:hover {
                  color: #ffffff;
                  background: none repeat scroll 0 0 $body-font-color;
                }
              }
            }
            .views-field-field-slide-image ~ .views-field-nothing {
              left: 12%;
              text-align: right;
              width: 25%;
            }
          }
        }
      }
    }
  }
}
