.view-id-slideshow {
  .flexslider {
    margin: 0;
    padding: 3em;
    border: 0;
    ul.slides li {
      position: relative;

      div.slide-content {
        text-align: center;

        h2 {
          color: #fff;
          font-size: 2.25em;
          font-weight: bold;
          line-height: 1.4;
          letter-spacing: -0.056em;
          margin: 0 0 0.416667em 0;
        }
        .slide-text p {
          font-size: 1em;
          font-weight: 300;
          line-height: 1.6;
          margin: 0 0 1.55em 0;
        }
        .slide-link a {
          display: inline-block;
          font-weight: bold;
          line-height: 1em;
          color: $body-font-color;
          text-decoration: none;
          padding: 0.8em 1.8em;
          border-radius: 3px;
          background: none repeat scroll 0 0 #ffffff;
          transition: all 0.2s linear 0s;
          &:hover {
            color: #ffffff;
            background: none repeat scroll 0 0 $body-font-color;
          }
        }
      }

      div.slide-content-no-image {
        margin-top: 2em;
        padding: 3em;
      }

      /***************************************************************************
      ** BEGIN: When the slide has an image
      ****************************************************************************/

      .slide-image-container {
        text-align: center;
        img {
          display: inline-block;
          max-width: 350px;
        }
      }

      /***************************************************************************
      ** END: When the slide has an image
      ****************************************************************************/

    }
  }
}


@media (min-width: $screen-tablet) {

  .view-id-slideshow {
    .flexslider {

      ul.slides li {

        /***************************************************************************
        ** BEGIN: When the slide has an image
        ****************************************************************************/

        div.slide-content.slide-content-has-image {
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 50%;
          padding: 0;
          text-align: right;
        }

        .slide-image-container {
          width: 50%;
          float: right;
        }

        /***************************************************************************
        ** END: When the slide has an image
        ****************************************************************************/

      }
    }
  }

}
