.view-id-front_page_slider {
  .flexslider {
    margin: 0;
    padding: 0;
    border: 0;
    ul.slides li .slide-container {

      .slide-content {
        text-align: center;
        padding: 2em 0 0 0;

        h2 {
          color: #fff;
          font-size: 2.25em;
          font-weight: bold;
          line-height: 1.4;
          letter-spacing: -0.056em;
          margin: 0 0 0.416667em 0;
        }
        .slide-text p {
          font-size: 1em;
          font-weight: 300;
          line-height: 1.6;
          margin: 0 0 1.55em 0;
        }
        .slide-link a {
          display: inline-block;
          font-weight: bold;
          line-height: 1em;
          color: $body-font-color;
          text-decoration: none;
          padding: 0.8em 1.8em;
          border-radius: 3px;
          background: none repeat scroll 0 0 #ffffff;
          transition: all 0.2s linear 0s;
          &:hover {
            color: #ffffff;
            background: none repeat scroll 0 0 $body-font-color;
          }
        }
      }

    }

    /***************************************************************************
    ** BEGIN: When the slide has an image
    ****************************************************************************/

    ul.slides li .slide-container-has-image {

      .slide-image-container {
        display: block;
        text-align: center;

        img {
          padding: 2em 0 2em 0;
          display: inline-block;
          max-width: 200px;
        }
      }
    }

    /***************************************************************************
    ** END: When the slide has an image
    ****************************************************************************/


  }
}

@media (min-width: $screen-tablet) {

  .view-id-front_page_slider {
    .flexslider {

      ul.slides li .slide-container {
        min-height: 420px;
        .slide-content {
          padding: 7.5em 2em 0 0;
        }
      }

      /***************************************************************************
      ** BEGIN: When the slide has an image
      ****************************************************************************/

      ul.slides li .slide-container-has-image {

        .slide-content {
          float: left;
          display: block;
          padding: 7.5em 2em 0 0;
          width: 50%;
          text-align: right;
        }

        .slide-image-container {
          display: inline-block;
          text-align: center;

          width: 50%;
          float: right;
          img {
            max-width: 350px;
          }
        }
      }

      /***************************************************************************
      ** END: When the slide has an image
      ****************************************************************************/

    }
  }

}
