.services {
    text-align: center;
}
.services .item {
    padding-top: 10px;
}
.services .fa {
    background: #1abc9c;
    font-size: 38px;
    padding: 33px 0 0 10px;
    color: #fff;
    width: 99px;
    height: 99px;
    line-height: 1;
    border-radius: 50%;
    position: relative;
    margin-bottom: 29px;
}    
.services h3 {
    margin-bottom: 15px;
}