.content {
    .error-text {
        .text-ginormous {
            font-size: 145px;
            margin-bottom: 20px;
        }
        .error-code {
            color: #767676;
        }
    }
    .error-image {
        padding: 60px 0 0 80px;
    }
    @media only screen and (max-width : 992px) {
        .error-image, .text-ginormous {
            display: none;
        }
    }
}
