.content {
    .not-found-text {
        .text-ginormous {
            font-size: 145px;
            margin-bottom: 20px;
        }
        .error-code {
            color: #767676;
        }
    }
    .not-found-image {
        padding: 60px 0 0 80px;
    }
}
