.region-clients {
    text-align: center;
    padding: 60px 20px 60px;
}
.region-clients h2 {
    margin-bottom: 29px;
}
@media (max-width: 992px) {
    .region-clients {
        padding: 20px 20px 20px;
    }
    .region-clients .views-row{
        margin-bottom: 40px;
    }
    .region-clients .views-row .img-responsive{
        display: inline-block;
    }
}