/* clients.scss */

.view-clients {
    text-align: center;
    padding: 60px 20px 60px;
    h2 {
        font-size: 1.5em;
        letter-spacing: -1px;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 1.25em;
    }
    @media (max-width: $screen-md-min) {
        & {
            padding: 20px 20px 20px;
        }
        .img-responsive{
            display: inline-block;
            margin-bottom: 40px;
        }
    }
}