.products .region-products {
    padding: 60px 20px 60px;
}
.products .region-products h2{
    font-size: 23px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    clear: both;
    padding-left: 21px;
    margin-bottom: 30px;
}
.products .region-products .block-title:before {
    content: "";
    width: 9px;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    height: 9px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 0;
}
.products .region-products .block-title:after {
    background: url(../images/dotted.png) repeat 0 0 transparent;
    content: "";
    float: right;
    margin-left: 12px;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -2px;
}
.products .region-products .views-field-title {
    width: 70%;
    display: block;
    float: left;
    line-height: 1.6;
}
.products .region-products .views-field-title a{
    color: #27313d;
}
.products .region-products .views-field-title a:hover,
.products .region-products .views-field-title a:focus {
    color: #1abc9c;
}
.products .region-products .views-field-price__number {
    width: 30%;
    display: inline-block;
    float: right;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.6;
    text-align: right;
}
.products .region-products .views-field-field-product-category {
    display: block;
    float: left;
    font-size: 0.928571em;
    line-height: 1.6;
}
.products .region-products .views-field-field-product-category a{
    color: #656565;
}
.products .region-products .views-field-field-product-category a:hover{
    color: #27313d;
    text-decoration: none;
}
.products .region-products .commerce-variation-add-to-cart-form {
    margin-bottom: 0.714286em;
    background-color: #27313d;
}
.products .region-products .commerce-variation-add-to-cart-form .form-submit{
    font-family: $body-font-family;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
    line-height: 1.14286;
    text-align: left;
    text-indent: 20px;
    padding: 1em 1.2em;
    position: relative;
    display: inline-block;
    background-color: transparent;
    background-image: url(../images/cart.png);
    background-repeat: no-repeat;
    border: 0;
    outline: medium none;
}
.products .region-products .commerce-variation-add-to-cart-form .form-submit:hover{
    color: #1abc9c;
    cursor: pointer;
    background-image: url(../images/cart-hover.png);
}
.products .region-products img.img-responsive {
    width: 100%;
}
@media (max-width: 992px) {
    .products .region-products .views-row {
        margin-bottom: 40px;
    }
    .products .region-products {
        padding: 20px 20px 20px;
    }
}
