.block-views-blocksidebar-cart-block-block-1{
	.form-group{
        text-align: left;
        .view-content {
        	line-height: 1.6;
			.views-row {
				@include clearfix();
				margin-bottom: 1em;
				.views-field-field-product-variation-image {
					float: right;
					display: block;
					img {
						font-weight: bold;
						height: auto;
						max-width: 46px;
						vertical-align: middle;
						margin: 0 1em;
						border-radius: 4px;
					}
				}
				.views-field-title {
			  	font-weight: bold;
				}
			}
		}
        .view-footer {
            border-top-width: 3px;
			border-top-style: solid;
			.footer-wrapper {
				text-align: left;
				line-height: 1.6;
				margin: 0.5em 0 1em 0;
				padding: 0.5em 0 0 0;
                .order-total-line__total{
                	padding-left: 0;
                }
				.order-total-line__subtotal {
					display: none;
				}
				a {
					font-size: 0.8125em;
					font-weight: bold;
					line-height: normal;
					text-align: center;
					background-color: $theme-color;
					border-radius: 3px;
					padding: 0.75em 1.5em 0.8125em 1.5em;
					position: relative;
					display: inline-block;
					color: #fff;
					margin-top: 1em;
				}
				&:hover {
					a {
	  					background-color: $body-font-color;
					}
				}
                &:before {
                	content: "";
                }

			}
        }
	}
}