/*
 // ./pages/_clients.scss
*/
.region-clients {
    text-align: center;
    padding: 60px 20px 60px;
}
.region-clients h2 {
    margin-bottom: 29px;
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1.25em;
}
@media (max-width: 992px) {
    .region-clients {
        padding: 20px 20px 20px;
    }
    .region-clients .views-row{
        margin-bottom: 40px;
    }
    .region-clients .views-row .img-responsive{
        display: inline-block;
    }

}