/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$orange: #27313d;
$green: #1abc9c;
$blue: #27313d;

$theme-color: $green;
$body-font-color: $blue;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
