// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/block";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

@import "layout/header";
@import "layout/navbar";
@import "layout/footer";
@import "layout/sidebar";

@import "pages//services";
@import "pages/clients";
@import "pages/random-products";
@import "pages/shop";
@import "pages/contact";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
    padding-left: 1.5em;
    .popover &:last-child {
        margin-bottom: 0;
    }
}

// Page header.
.page-header {
    margin-top: 0;
}

// Footer.
.footer {
    //margin-top: 45px;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
    margin-bottom: 0;
}

// Help region.
.region-help {
    > .glyphicon {
        font-size: $font-size-large;
        float: left;
        margin: -0.05em 0.5em 0 0;
    }
    .block {
        overflow: hidden;
    }
}


.help-block, .control-group .help-inline {
    color: $gray-light;
    font-size: 12px;
    margin: 5px 0 10px;
    padding: 0;
    &:first-child {
        margin-top: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #27313d;
    font-family: $body-font-family;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2125em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    text-rendering: optimizelegibility;
}

html,
body {
    font-size: 100%;
}

p {
    line-height: 1.6;
}
body {
    background: $background-color;
    color: #27313d;
    padding: 0;
    margin: 0;
    font-family: $body-font-family;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
}

a:hover {
    cursor: pointer;
}

ul,
ol,
dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.42857em;
    list-style-position: outside;
    font-family: inherit;
}

ul, ol {
    margin-left: 0;
}

ul.no-bullet, ol.no-bullet {
    margin-left: 0;
}

a {
    color: #1abc9c;
    text-decoration: none;
    line-height: inherit;
    transition: all 0.2s ease 0s;
}
a {
    color: $theme-color;
    transition: all 0.2s linear 0s;
    &:hover {
        color: #089a7a;
    }
    &:focus {
        color: #089a7a;
    }
}
a:hover, a:focus {
    color: #089a7a;
    text-decoration: none;
}
a img {
    border: none;
}
// Page header style
.page-header {
    padding-bottom: 0px;
    border-bottom: none;
    letter-spacing: normal;
}
// Form style
form .form-item label {
    font-weight: 500;
    color: #4d4d4d;
    line-height: 1.6;
    margin-bottom: 0.1875em;
}
.form-required:after {
    margin-left: 5px;
    margin-bottom: 5px;
}
form .form-item input,
form .form-item textarea {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 1em;
    height: 2.4375em;
    margin: 0 0 0.1875em;
    padding: 0.5em;
    width: 100%;
}
form .form-item textarea {
    height: 200px;
}
.btn {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: normal;
    background-color: $green;
    padding: 1em 1.875em 0.9375em 1.875em;
    border: 0;
    border-radius: 3px;
}
.btn:hover,
.btn:active,
.btn:focus {
    background-color: #27313d !important;
    color: white !important;
}