// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/block";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

@import "layout/header";
@import "layout/navbar";
@import "layout/footer";
@import "layout/sidebar";

@import "pages//services";
@import "pages/clients";
@import "pages/random-products";
@import "pages/shop";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
    padding-left: 1.5em;
    .popover &:last-child {
        margin-bottom: 0;
    }
}

// Page header.
.page-header {
    margin-top: 0;
}

// Footer.
.footer {
    //margin-top: 45px;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
    margin-bottom: 0;
}

// Help region.
.region-help {
    > .glyphicon {
        font-size: $font-size-large;
        float: left;
        margin: -0.05em 0.5em 0 0;
    }
    .block {
        overflow: hidden;
    }
}


.help-block, .control-group .help-inline {
    color: $gray-light;
    font-size: 12px;
    margin: 5px 0 10px;
    padding: 0;
    &:first-child {
        margin-top: 0;
    }
}

.block-commerce-cart {
    .cart-block--contents__inner {
        top: 39px;
        left: 59.8438px;
        background-color: $body-font-color !important;
        box-shadow: initial;
        color: #fff;
        font-size: 0.75em;
        text-align: left;
        min-width: 214px;
        line-height: 1.6;
        padding: 1em 1.5em;
        position: absolute;
        display: block;
        .cart-block--contents__items {
            overflow-y: visible;
            max-height: none;
        }
        a {
            color: #fff;
        }
        .view-header {
            > h2 {
                font-size: 1.333em;
                line-height: 1.4;
                margin: 0 0 1em 0;
                color: inherit;
            }
        }
        .view-content {
            .views-row {
                @include clearfix();
                margin-bottom: 1em;
                &:before, &:after {
                    content: ".";
                    display: block;
                    height: 0;
                    overflow: hidden;
                }
                .views-field-field-product-variation-image {
                    float: right;
                    display: block;
                    img {
                        height: auto;
                        max-width: 38px;
                        vertical-align: middle;
                    }
                }
                .views-field-title {
                    font-weight: bold;
                }
                &:hover {
                    a {
                        color: $theme-color;
                    }
                }
            }
        }
        .view-footer {
            .order-total-line__subtotal {
                display: none;
            }
            .order-total-line__total {
                text-align: left;
                margin-bottom: 1.42857em;
                padding: 0;
                .order-total-line-label {
                    display: inline;
                }
                .order-total-line-value {
                    display: inline;
                    font-weight: 300;
                }
            }
        }
    }
    .cart-block--contents__links {
        text-align: left;
        margin-bottom: 1.42857em;
        a {
            font-size: 0.81252222em;
            font-weight: bold;
            line-height: normal;
            background-color: $theme-color;
            border-radius: 3px;
            padding: 0.75em 1.5em;
            color: #fff;
            &:hover {
                background-color: $body-font-color;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #27313d;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2125em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    text-rendering: optimizelegibility;
}

html,
body {
  font-size: 100%;
}

p {
  line-height: 1.6;
}
body {
  background: white;
  color: #27313d;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}

a:hover {
  cursor: pointer;
}

ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.42857em;
  list-style-position: outside;
  font-family: inherit;
}

ul, ol {
  margin-left: 0;
}

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
}

a {
  color: #1abc9c;
  text-decoration: none;
  line-height: inherit;
  transition: all 0.2s ease 0s;
}
a {
  color: $theme-color;
  transition: all 0.2s linear 0s;
  &:hover {
    color: #089a7a;
  }
  &:focus {
    color: #089a7a;
  }
}
a:hover, a:focus {
  color: #089a7a;
}
a img {
  border: none;
}

.cart-block--summary {
    float: left;
    list-style: none;
    width: auto;
    height: 39px;
    margin: 0 0 0 0;
    padding: 0 0 0 .8em;
    background: #27313d;
    border-radius: 5px;
    a.cart-block--link__expand {
        display: block;
    }
    a.cart-summary-count-link {
        float: right;
        .cart-block--summary__count {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            display: block;
            float: right;
            font-size: .875em;
            line-height: 39px;
            padding: 0 1.2em;
            background-color: #089a7a;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }
    }
    a.cart-summary-total-link {
        float: left;
        width: auto;
        text-decoration: none;
        .cart-block--summary__total {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            margin: 0 .8em 0 .5em;
            font-size: .875em;
            font-weight: bold;
            width: auto;
            display: block;
            line-height: 39px;
            color: #fff;
        }
    }
&:before {
font-family: FontAwesome,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
content: "\f07a";
line-height: 39px;
color: #ffffff;
}
&:hover {
background-color: $theme-color;
color: #fff;
.contents {
background-color: darken( $theme-color, 5%);
}
.line-item-quantity {
.line-item-quantity-raw {
background-color: #056747;
}
}
}
&:before {
float: left;
}
}
