$orange: #27313d;
$green: #1abc9c;
$blue: #27313d;

$theme-color: $green;
$body-font-color: $blue;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$background-color: #f3f3f3;